
<html>
  <head>
<title>You Got Served</title>
<h1><img src="khu.jpeg" class="img-rounded" alt="Cinque Terre" width="500" height="140" ></h1>
<div id="middle"><span style="color:black"><font size="5"><span style="color:dark blue">SAFETY AND SECURITY IN CONSTRUCTION.

<div id="Center">
<a></a>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <meta charset="utf-8">

	<div>
    <ol class="breadcrumb">
      </a><li><button class="btn btn-default"><a href="/">Home</a></button></li>
        <li><button class="btn btn-info"><a href="users">Register</a></button></li>
         	<li><button class="btn btn-info"><a href="/maintenance-request">Maintainance Request</a></button></li>
         	<li><button  class="btn btn-info">
         		<a href="/tenders">Tenders</a>
         	</button></li>
         <li><button class="btn btn-info"><a href="/complaints">Log a complaint</a></button></li>
           <li><button class="btn btn-success" ><a href="/About">About Us</a></button></li>
      </div>
	<div id="site">
<div id="full-width-header">
<position = "Far Right">
</div>      
  </ol>
    </div>
      </head>
        <style>


body {background-color: #b0c4de;
          margin: 22px;
          font-family:Times New Roman;

}

.img-rounded{ opacity: 0.4px;
              margin-left: 500;
            box-shadow: 3px 3px 5px 6px #989898; 


}
		.h1 {
    		text-shadow: 1px 1px 1px #FF0000;
        margin-left: 12px;
			}
      p {
margin: inherit;
box-shadow: 5px 5px 5px #C3DDF3;
}

  .breadcrumb {
        background-color: #808080;
        border-radius: 4px;
        list-style: outside none none;
          margin-bottom: 20px;
          padding-left: 250px;


      }
.btn {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
color: #428bca;
text-decoration: none;
font-size: 18;
}

.container {
width: 99%;
margin-left: 0;

}

.table{
border-spacing: 0;
border-collapse: collapse;
float: right;

}

.rating {
    margin: 5px;
padding-right: 29%;
}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    margin: 4px;
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:4px;
    left:4px;
}
	</style>

  <body>
	<div class="container">
    	{{{body}}}  
    </div>
  </body>
  	</html>