
<html>
  <head>
<title>You Got Served</title>

<h1>KhuluMa</h1>
<div id="middle"><span style="color:black"><font size="5"><span style="color:dark blue">REK JOU BEK SUID AFRIKA!!

<div id="Center">
<p></p>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  
	<div>
    <ol class="breadcrumb"><a href="#">
      </a><li><button><a href="/">Home</a></button></li>
        <li><button><a href="users">Register</a></button></li>
         	<li><button><a href="/maintenance-request">Maintainance Request</a></button></li>
         	<li><button>
         		<a href="/tenders">Tenders</a>
         	</button></li>
         <li><button><a href="/complaints">Lodge a complain</a></button></li>
           <li><button><a href="AboutUs">About Us</a></button></li>
      </div>
	<div id="site">
<div id="full-width-header">
		<position = "Far Right">
			</div>      
      	</ol>
  </div>
 <style>
body {background-color: #b0c4de;
}
		h1 {
    		text-shadow: 5px 5px 5px #FF0000;
			}
	</style>
</head>
  <body>
	<div class="container">
    	{{{body}}}  
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  </body>
  	</html>
