<html>
<head>
	<title>About Us</title>
</head>
<body>
	

<p>KhuluMa is a regulator body of the home building industry. Our goal is to assist and protect housing consumers who have been exposed to contractors who deliver housing units of substandard design, workmanship and poor quality material. No matter the size or value of your home building project KhuluMa is here to protect you, the housing consumer.</p>
<br>
<p>Established in 2014, in accordance with the provisions of The Housing Consumers Protection Measures Act (Act No. 95 of 1998) the KhuluMa's mandate is to protect the interests of housing consumers and to ensure compliance to regulated building industry standards.</p>
<br>

<p>As a valued customer, we urge you to ensure that your builder is registered and certified by the NHBRC using KhuluMa as a way forward to check if it is valid by reffering the certificate number. In terms of The Housing Consumers Protection Measurers Act, any person in the business of building homes is required by law to register with NHBRC. The NHBRC certifies builders who meet regulated industry criteria for technical, construction and financial capabilities.</p>
<br>
<p/>Your home enrolment with the NHBRC insures you against poor building practises. Their quality building inspections ensure that your home is not exposed to structural failure.</p>
<br>
<p>KhuluMa is a connection for customers, sub-constructors and Building companies to come together and fight the corruption in the Human Settlement (housing) industry.</p>
<br>
<p>We would like to keep constructors accountable of their work, and is our priority to ensure all builders are registered with certain council boards. CIDB is one of the body where builders can register at.</p>

</body>
</html>
