<div class="container">
  <div class="row">

  
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>

<form class="form-horizontal" action="/complaints/add" method="POST">
<fieldset>

<!-- Form Name -->
<legend><strong>Complaint Form</strong></legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput"><strong>Name</strong></label>
  <div class="controls">
    <input id="textinput" name="name" type="text" placeholder="Name" class="input-xlarge">
    
  </div>
</div>

<!-- Textarea -->
<div class="control-group">
  <label class="control-label" for="Address"><strong>Address</strong></label>
  <div class="controls">                     
    <textarea id="Address" name="homeAdress" placeholder="Physical Adress"></textarea>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput"><strong>Subject</strong></label>
  <div class="controls">
    <input id="textinput" name="subject" type="textinput" placeholder="Subject" class="input-xlarge">
    
  </div>
</div>

<!-- Textarea -->
<div class="R-Rcontrol-group">
  <label class="control-label" for="textarea"><strong>Complain Description</strong></label>
  <div class="controls">                     
    <textarea id="textarea" name="complainDescription" type="textinput" placeholder="Complain Description" ></textarea>
  </div>
</div>

<!-- Multiple Radios (inline) -->
<div class="r-control-group">
  <label class="control-label" for="radios"><strong>Service Rendered Rate</strong>
  <div class="controls">
    <label class="radio inline" for="radios-0">
      <input type="radio" name="serviceRate" id="radios-0" value="1">
      1
    </label>
    <label class="radio inline" for="radios-1">
      <input type="radio" name="serviceRate" id="radios-1" value="2">
      2
      </label>
    <label class="radio inline" for="radios-1">
      <input type="radio" name="serviceRate" id="radios-1" value="2">
      3
    </label>
    <label class="radio inline" for="radios-3">
      <input type="radio" name="serviceRate" id="radios-3" value="4">
      4
    </label>
    <label class="radio inline" for="radios-4">
      <input type="radio" name="serviceRate" id="radios-4" value="5">
      5
    </label>
    <label class="radio inline" for="radios-5">
      <input type="radio" name="serviceRate" id="radios-5" value="6">
      6
    </label>
    <label class="radio inline" for="radios-6">
      <input type="radio" name="serviceRate" id="radios-6" value="7">
      7
    </label>
    <label class="radio inline" for="radios-7">
      <input type="radio" name="serviceRate" id="radios-7" value="8">
      8
    </label>
    <label class="radio inline" for="radios-8">
      <input type="radio" name="serviceRate" id="radios-8" value="9">
      9
    </label>
    <label class="radio inline" for="radios-9">
      <input type="radio" name="serviceRate" id="radios-9" value="10">
      10
    </label>
  </div>



<br><br>

<!-- Button -->
<div class="control-group">
  <label class="control-label" for="singlebutton"></label>
  <div class="controls">
    <button id="singlebutton"  name="singlebutton" class="btn btn-success">Submit</button>
  </div>
</div>
<!-- Button (Double) -->
<div class="control-group">
  <label class="control-label" for="button1id"></label>
  <div class="controls">
    <button id="button2id" name="button2id" class="btn btn-danger">Cancel</button>
  </div>
</div>

</fieldset>
</form>
<style type="text/css">

.R-control-group{

  display: inline;
  padding-right: 400px;
}
  </style>

