          <div class="container">
        <div class="row">
      <div class="col-md-8">
    <table class="table">
  <tr class="info">
    <th>Subject</th>
      <th>Complain Description</th>
      <th>Service Rendered Rate</th>
  </tr>
{{#complaints}}
  <tr>
        <td>{{subject}}</td>
          <td>{{complainDescription}}</td>
        <td>{{serviceRate}}</td>
      </tr>
    {{/complaints}}
    </table>
  </div>
<div class="col-md-4">
  <form class="form-horizontal" action="/complaints/add" method="POST" required>
    <fieldset>
      <!-- Form Name -->
        <legend><strong>Complaint Form</strong></legend>
      <!-- Text input-->
    <div class="control-group">
  <label class="control-label" for="textinput"><strong>Name:</strong></label>
<div class="controls">
  <input id="textinput" name="name" type="text" placeholder="Name" class="input-xlarge">
    
  </div>
</div>
  <!-- Textarea -->
    <div class="control-group">
      <label class="control-label" for="Address"><strong>Address:</strong></label>
        <div class="controls">                     
      <textarea id="Address" name="homeAdress" placeholder="Physical Adress"></textarea>
    </div>
  </div>
<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput"><strong>Subject:</strong></label>
      <div class="controls">
        <input id="textinput" name="subject" type="textinput" placeholder="Subject" class="input-xlarge">
      </div>
    </div>
  <!-- Textarea -->
<div class="control-group">
  <label class="control-label" for="textarea"><strong>Complaint Description:</strong></label>
    <div class="controls">                     
      <textarea id="textarea" name="complainDescription" type="textinput" placeholder="Complaint Description" ></textarea>
        </div>
      </div>
    <br>
  <div class="control-group">
<fieldset class="rating">
    <legend>Service Rendered (Rate)</legend>
      <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
        <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
      <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
  <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
  </fieldset>
</div>
  <br>
    <!-- Button -->
      <div class="control-group">
        <label class="control-label" for="singlebutton"></label>
          <div class="controls">
        <button id="singlebutton"  name="singlebutton" class="btn btn-success">Submit</button>
      </div>
    </div>
  <!-- Button (Double) -->
<div class="control-group">
  <label class="control-label" for="button1id"></label>
    <div class="controls">
      <button id="button2id" name="button2id" class="btn btn-danger">Cancel</button>
    </div>
  </div>
</fieldset>
  </form>
    </div>