
<div class="row">
    <div class="col-md-7">
		<img src="./onoma.jpg"  >
	</div>
	<div class=class="col-md-5">
		<h1><p>It is not the beauty of a building you should look at; its the construction of the foundation that will stand the test of time.


		
<p>David Allan Coe</p>


<p>Architecture, Time, Beauty</p></h1>


	</div>
</div>

<style>
	body {
	    background-color: #b0c4de;
		}
	h1 {
	    text-shadow: 5px 5px 5px #D87676;
	}
</style>

