<h1>Add Tenders</h1>

 <div>
    <form>
  <strong>Reference No:</strong><br>
<input id="Reference No" type="num" placeholder="Reference Number" name="Reference No"><br>
    <strong>Title:</strong><br>
        <input id="Mrs||Mr" type="text" class="col-md-4" placeholder="Mrs or Mr" name="Title"><br>
            <strong>Issuer:</strong><br>
          <input id="Issuer" type="#" placeholder="Issuer" name="Issuer"><br>
      <strong>Issue Date:</strong><br>
    <input id="DD/MM/YYYY" type="#" placeholder="DD/MM/YYYY" name="Issue Date ><br>
  <strong>Sector:</strong><br>
<input id="Sector" type ="textinput" placeholder="Sector" name="Sector"><br>
  <strong>Closing date:</strong><br>
    <input id="DD/MM/YYYY" type="enum" placeholder="DD/MM/YYYY" name="Closing date"><br>
      <strong>Closing Time:</strong><br>
        <input id="HH:MM" type="enum" placeholder="HH:MM" name="Closing Time" ><br>
            <strong>Meeting Date:</strong><br>
          	<input id="DD/MM/YYYY" type="column" class="col-md-4" placeholder="DD/MM/YYYY" name="Description required=""><br>
          <strong>Description:</strong><br>
         <input id="Description" placeholder="Description" type="column" class="col-md-4" name="Description"><br>
        <br><br>
    <button type="submit" class="btn btn-submit">Submit</button><br>
  <button type="back" class="btn btn-back">Back</button><br>
<button type="cancel" class="btn btn-cancel">Cancel</button><br>

    </form>
      </div>