<h1><strong>Add Tenders</strong></h1><br><br><br>
  
  <form>
  <strong>Reference No:</strong><br>
<input id="Reference No" type="num" placeholder="Reference Number" name="Reference No" required=""><br>
    <strong>Title:</strong><br>
        <input id="Mrs||Mr" type="text" class="col-md-4" placeholder="Mrs or Mr" name="Title" required=""><br>
            <strong>Issuer:</strong><br>
          <input id="Issuer" type="#" placeholder="Issuer" name="Issuer" required=""><br>
      <strong>Issue Date:</strong><br>
    <input id="DD/MM/YYYY" type="#" placeholder="DD/MM/YYYY" name="Issue Date" required=""><br>
  <strong>Sector:</strong><br>
<input id="Sector" type ="textinput" placeholder="Sector" name="Sector"><br>
  <strong>Closing date:</strong><br>
    <input id="DD/MM/YYYY" type="enum" placeholder="DD/MM/YYYY" name="Closing date"><br>
      <strong>Closing Time:</strong><br>
        <input id="HH:MM" type="enum" placeholder="HH:MM" name="Closing Time" required=""><br>
            <strong>Meeting Date:</strong><br>
          	<input id="DD/MM/YYYY" type="column" class="col-md-4" placeholder="DD/MM/YYYY" name="Description" required=""><br>
          <strong>Description:</strong><br>
         <input id="Description" placeholder="Description" type="column" class="col-md-4" name="Description" required=""><br>
        <br><br>
    <button type="submit" class="btn btn-submit">Submit</button><br>
  <button type="back" class="btn btn-back">Back</button><br>
<button type="cancel" class="btn btn-cancel">Cancel</button><br>

    </form>